########################
## CyberSecurity v1.0 ##
########################
auth,authpriv.*             @@{{fusion_server_ip}}:{{fusion_port_suse}}
local6.*                    @@{{fusion_server_ip}}:{{fusion_port_suse}}
