########################
## CyberSecurity v1.0 ##
########################
auth,authpriv.*             @@{{qradar_server_fqdn}}:{{qradar_port}}
local6.*                    @@{{qradar_server_fqdn}}:{{qradar_port}}
